:root {
  --bg-color-zinc-200: #e4e4e7;
  --bg-color-zinc-100: #f4f4f5;
  --color-slate-600: #475569;
  --color-blue-400: #60a5fa;
  --color-sky-700: #0369a1;
  --color-zinc-100: #f4f4f5;
  --color-emerald-700: #047857;
}

body {
  background-color: var(--bg-color-zinc-100);
}

.app {
  margin: 0 auto;
  position: relative;
}

.header-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding: 10px 30px;
  height: fit-content;
  background-color: var(--bg-color-zinc-200);
  margin-bottom: 30px;
}

.header-section h1 {
  font-weight: 700;
  font-size: 36px;
}

.header-section nav {
  font-size: 20px;
  align-self: flex-end;
}

@media (max-width: 600px) {
  .header-section {
    justify-content: center;
  }

  .header-section h1 {
    text-align: center;
  }

  .header-section nav {
    text-align: center;
  }
}

.nav-link {
  width: fit-content;
  font-size: 24px;
  padding: 5px;
}

.shop-cart {
  /* border: 1px solid; */
  padding: 0 5px;
  position: relative;
}

.cart-icon {
  height: 1em;
  /* border: 1px solid; */
  margin: 0;
  padding: 0;
}

.total-items {
  position: absolute;
  left: 25px;
  top: -10px;
  font-size: 12px;
  font-weight: 700;
}

.cart-icon:hover {
  height: 1.2em;
}

.nav-link:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: #a9b1bd;
}

.nav-link:hover {
  color: var(--color-sky-700);
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

.loading-message {
  margin: 50px auto;
}

.product {
  flex-grow: 1;
  width: 300px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.product .product-link {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.product img {
  flex-grow: 1;
  width: 100%;
  height: 350px;
}

.short-details {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.short-details > .product-price {
  align-self: center;
  font-weight: 700;
}

.error-page {
  margin: 30vh auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

.error-page :nth-child(n) {
  text-align: center;
}

.error-page h1 {
  font-weight: 700;
}

.error-page :last-child {
  font-style: italic;
  color: var(--color-slate-600);
}

.product-details {
  /* border: 1px solid; */
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: start;
  justify-content: center;
}

.product-card {
  /* flex-grow: 1; */
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.product-card .title {
  font-style: italic;
}

.detail-image {
  height: 60vh;
}

.description {
  width: 300px;
  border-radius: 10px;
  letter-spacing: 2px;
  line-height: 1.5;
}

.unit-price {
  font-weight: 700;
  margin-left: 20px;
  margin-top: 20px;
}

.add-quantity {
  display: flex;
  margin-top: 30px;
}

.quantity-text {
  margin-left: 20px;
  margin-right: 30px;
}

#input-quantity {
  outline: none;
  border: none;
  width: 20px;
  background-color: var(--bg-color-zinc-100);
  margin: 0 10px;
}

#input-quantity::-webkit-inner-spin-button,
#input-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#input-quantity {
  -moz-appearance: textfield;
  appearance: textfield;
}

.minus,
.plus {
  font-size: 16px;
  width: 16px;
  height: 16px;
  background-color: var(--bg-color-zinc-200);
}

button:disabled {
  background-color: #eee;
}

.total-price-calculate {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.total-price-value {
  font-weight: 700;
  font-style: italic;
}

.buy-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

button.checkout {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--color-sky-700);
  color: var(--color-zinc-100);
}

button.checkout:disabled {
  pointer-events: none;
  opacity: 0.5;
}

button.add-to-cart {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--color-emerald-700);
  color: var(--bg-color-zinc-100);
}

button.add-to-cart:disabled {
  opacity: 0.5;
  pointer-events: none;
}

button.add-to-cart:active {
  background-color: var(--color-slate-600);
}

.cart-list-container {
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.cart-list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart-product-card {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.cart-product-card img {
  width: 50px;
}

.total-cart-price {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-price-value {
  font-weight: bold;
  font-style: italic;
}

.order-placement-page {
  margin: 100px auto;
  width: fit-content;
  text-align: center;
}

button.shop-more {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid var(--color-slate-600);
  border-radius: 5px;
  background-color: var(--color-emerald-700);
  color: var(--color-zinc-100);
}

.place-order-link {
  text-align: end;
}

.home-section {
  margin-top: 100px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.brand-name {
  font-size: calc(42px + (64 - 42) * ((100vw - 320px) / (1980 - 320)));
  font-weight: 700;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--bg-color-zinc-200);
}

.brand-info {
  font-style: italic;
  color: var(--color-slate-600);
  font-size: 24px;
}
